<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card animate__animated animate__bounceInLeft " style="margin-top:100px;">
        <div class="card-body">
          <h1>{{portada.descripcion}}</h1>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card animate__animated animate__bounceInRight">
        <img src="{{portada.imagen}}" class="img-thumbnail">
      </div>
    </div>
  </div>
<hr>
<h1><small> <i class="fa fa-eye" aria-hidden="true"></i> Ver Tutoriales </small></h1>
  <div class="row mt-3 mb-3">
    <div class="container">

      <app-recomendados></app-recomendados>
    </div>
  </div>
</div>


