<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    <img src="./assets/logo_axelfoxII2.png" width="30" height="30" style="margin-bottom: 15px;" alt="" loading="lazy">  AxelfoxII - Code © {{year | date: 'y' }} <a class="text-light ml-3" href="https://www.facebook.com/groups/999222147387410"  target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a> <a class="text-light ml-3" href="https://www.youtube.com/channel/UCAHdAWy0RTVI_9H7iWU68cA"  target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a> <a class="text-light ml-3" href="https://github.com/axelfoxII"  target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>

  </div>
  <!-- Copyright -->
</footer>
